:root {
    --bgColor: #0E3651;
    --textColor: #DEEBF7;
    --boldColor: #9ECAE1;
    --font: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
*{
    margin: 0;
    /* padding: 0; */
}
body {
    background-color: var(--bgColor);
    color: var(--textColor);
    font-family: var(--font);
}
.nav{
    background-color: #1a4b6b;
    height: 50px;
    padding: 20px 0px 10px 0px;
    box-shadow: 8px 11px 20px #011929;
}
.navOptns{
    margin: 10px 90px 10px 70px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline var(--textColor) 3px;
    
}
#img {
    height: 200px;
    width: 200px;
    border-radius: 50%;

}

b {
    color: var(--boldColor);
}

li span {
    font-family: var(--font);
    color: var(--boldColor);
}

footer>p {
    font-size: 2rem;
    color: var(--boldColor);
    margin: 30px 0px 50px 50px;
}

div ol li a:active {
    text-decoration: none;
}

div ol li a:visited {
    color: var(--boldColor);
}

div ol li a:hover {
    font-size: 16px;
    color: var(--textColor);
}

div>p {
    margin-left: 25px;
}
.textStyle{
    max-width: 350px;
    max-height: 70px;
    overflow: auto;
}
.navOptns a{
    text-decoration: none;
    color: var(--textColor);
}
div{
    margin: 30px 0px 50px 50px;
}
h2{
    margin-bottom: 10px;
}